body {
	background: black;
	color:white;
	font-family: arial;
}

.btn {
	background:#555;
	color:white;
	font-weight:700;
	padding: 20px;
	border-radius:5px;
}

.one-fourth {
	width: 20.25%;
	margin-right:1%;
}